# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data & Results
experiments/results/
experiments/results_rl/
experiments/results.zip

# IDEs
.vscode/
.idea/
