# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data & Results
experiments/results.zip
m-gpux-workspace/
model/
*.pth

# IDEs
.vscode/
.idea/

# Modal
modal_runner.py
